<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form  class="login-form">
            <div class="row">

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input class="validate" id="password" type="password">
                    <label for="password" data-error="wrong" data-success="right">Contraseña Actual</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="passwordNueva" type="password">
                    <label for="passwordNueva" data-error="wrong" data-success="right">Nueva Contraseña</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="passwordNuevaValidacion" type="password">
                    <label for="passwordNuevaValidacion" data-error="wrong" data-success="right">Validar nueva Contraseña</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button  class="btn waves-effect waves-light col s12">Guardar nueva contraseña</button>
                </div>
            </div>
        </form>
    </div>
</div>

