<nav class="blue">
    <div class="nav-wrapper">
        <a href="/inicio" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a [routerLink]="['/ventas/carrito-compras']"> <i class="material-icons">shopping_cart</i></a></li>
            <li><a *ngIf="!sesionActiva" [routerLink]="['/seguridad/identificar-usuario']">Iniciar sesión</a></li>
            <li><a *ngIf="sesionActiva" [routerLink]="['/seguridad/cambiar-clave']">Cambiar clave</a></li>
            <li><a *ngIf="sesionActiva" [routerLink]="['/seguridad/cerrar-sesion']">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>

<div *ngIf="sesionActiva">
    <app-menu-lateral></app-menu-lateral>
</div>
